.App {
  text-align: center;
  background-color: #363543;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  background-color: #363543;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-family: "Centra", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
  color: lightsalmon;
  font-size: 48px;
}

.navbar {
  background-color: #282832 !important;
}

.mainPage {
  background-color: #363543 !important;
}

.navbar-brand,
.navbar-brand:hover {
  color: white;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  gap: 8px;
  align-items: center;
}

.navbar-link {
  color: #cccccc;
  font-size: 20px;
}

a.nav-link.navbar-link:hover {
  color: white;
  font-weight: 600;
}

.activeLink {
  color: white;
  font-weight: 600;
  font-size: 24px;
}

.navbar-collapse {
}

.navbar-nav {
  color: white;
  display: flex;
  align-items: center;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 16px;
  text-align: center;
  background-color: #363549;
  color: white;
  font-size: 14px;
}

.footer-links {
  display: flex;
  gap: 8px;
  padding-bottom: 16px;
  align-items: center;
  justify-content: center;
}

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

.projectsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #363543;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.home {
  height: auto;
}

@media (max-width: 600px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
